# API 配置
api: "https://yunwu.ai/v1"
apiKey: "sk-***"
modelTTS: "gpt-4o-audio-preview"
modelSTT: "gpt-4o-transcribe"
api2: "https://api.siliconflow.cn/v1"
apiKey2: "sk-***"
defaultDialogNamingModel: "deepseek-ai/DeepSeek-V3.1-Terminus"
defaultVisualModel: "zai-org/GLM-4.5V"

# Dashboard 管理密码（使用 bcrypt 哈希）
dashboardPassword: "xxx"
models:
  [
    {
      name: "o1",
      id: "o1",
      points: 30,
      reasoning: "o1",
      tool: 1,
      image: 0,
    }
  ]

# 邮件配置
email:
  sender:
    email: "no_reply@wanyim.cn"
    password: "***"
  smtp:
    host: "smtp.qiye.aliyun.com"
    port: 25

# 数据库配置
database:
  host: "192.168.31.134"
  port: 3306
  username: "aurora"
  password: "***"
  dbname: "aurora"
  charset: "utf8mb4"

# 爱发电
userID: "***"
token: "***"